/*/
@font-face {
    font-family: "RalewayBold";
    src: url('/resource/RalewayBold') format('TrueType');
}

@font-face {
    font-family: "RalewayMedium";
    src: url('/resource/RalewayMedium') format('TrueType');
}*/

.heading {
    padding-top: 20px;
    text-align: center;
    /* padding-bottom: 25px; */

    font-size: 28px;
    Color: #4e4d4e;
}

.subheading {
	font-size: 14px;

    Color: #4e4d4e;
    /* font-weight: bold; */
}

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #3dbedb;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2sease-in-out;

    Color: #3dbedb;
}

.custom-button:hover {
    background: #25c0eb;
    color: white;
}

.icon-style {
    margin-left: 5px;
    --slds-c-icon-color-foreground-default: #25c0eb;
}

.custom-button:hover .icon-style {
    --slds-c-icon-color-foreground-default: white;
}

.name-link {
    color: #25c0eb;
    text-decoration: none;
}

.name-link:hover {
    text-decoration: underline;
}

.buttonCSS {
    background-color: #4dc5e1;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
	margin-right: 20px;
}

.custom-table-container {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.custom-table th {
    text-align: left;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 12px;
    color: #4e4d4e;
}

.custom-table td {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;

    Color: #4e4d4e;
    font-size: 12px;
}

.custom-table th:nth-child(1), .custom-table td:nth-child(1) {
    width: 40%;
}

.custom-table th:nth-child(2), .custom-table td:nth-child(2) {
    width: 20%;
}

.custom-table th:nth-child(3), .custom-table td:nth-child(3) {
    width: 20%;
}

.custom-table th:nth-child(4), .custom-table td:nth-child(4) {
    width: 10%;
}

/* .custom-table th:nth-child(5), .custom-table td:nth-child(5) {
    width: 20%;
} */

.next-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #3dbedb;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all 0.3s ease;
}

.next-button .arrow {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.previousBtnPadding {
    padding: 5px 35px 5px 5px;
    margin-right: 20px;
}

.previousBtnArrow {
    margin-right: 30px;
}

.nextBtnPadding {
    padding: 5px 5px 5px 35px;
}

.nextBtnArrow {
    margin-left: 30px;
}

.rowName {
    cursor: pointer;
    Color: #3dbedb;
    font-size: 12px;
}

.labelCSS {

    font-size: 12px;
    margin-bottom:0.125rem;
    color:#4e4d4e
}

.helpTextMargin {
    margin-left: 10px;
    position: relative;
    bottom: 2px;
    --lwc-colorTextIconDefault: #4dc5e1!important;
}

.info-icon {
  cursor: pointer;
  /* color: #0070d2;
  margin-left: 10px; */
  position: relative;
  bottom: 4px;
  --lwc-colorTextIconDefault: #4dc5e1 !important;
}

.alignAddButton {
    display: flex;
    justify-content: end;
}

.edit-icon {
    margin-left: 15px;
    --slds-c-icon-color-foreground-default: #25c0eb;
    position: relative;
    bottom: 3px;
    cursor: pointer;
}

.custom-input {
    --slds-c-input-color-background: #f2f2f2;
    --slds-c-input-radius-border: 8px;
}

.icon-color {
    --lwc-colorTextIconDefault: #4dc5e1!important;
}

.upload-container {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.upload-header {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: bold;
}

.upload-instructions {
    font-size: 14px;
    margin-bottom: 5px;
}

.file-list {
    /* padding-left: 20px; */
    font-size: 14px;
}

.upload-box {
    border: 2px dashed #d1d1d1;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.upload-box:hover {
    background-color: #f9f9f9;
}

.upload-icon {
    margin-bottom: 8px;
    color: #5c5c5c;
}

.file-link {
    color: #3dbedb;
    font-weight: bold;
    cursor: pointer;
}

.file-link:hover {
    text-decoration: underline;
}

.file-types {
    font-size: 12px;
    color: #a0a0a0;
    margin-top: 5px;
}

.hidden-input {
    display: none;
}

.uploaded-file {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}