/*@font-face {
    font-family: "RalewayRegular";
    src: url('/resource/Raleway') format('TrueType');
  }
  
@font-face {
    font-family: "RalewayBold";
    src: url('/resource/RalewayBold') format('TrueType');
}

@font-face {
    font-family: "RalewayMedium";
    src: url('/resource/RalewayMedium') format('TrueType');
} */

.heading {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 25px;
    font-size: 28px;
    Color: #4e4d4e;
}

.custom-input {
    --slds-c-input-color-background: #f2f2f2;
    --slds-c-input-radius-border: 8px;
}

.next-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #3dbedb;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all 0.3s ease;
  }

.next-button .arrow {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.nextBtnPadding {
    padding: 5px 5px 5px 35px;
}

.nextBtnArrow {
    margin-left: 30px;
}

.popupbackground {
    /* background-color: #F8DADF; */
    background-color: transparent;
    max-width: 38rem;
    padding: 1rem;
    /* border: 0.5px solid #8A8C8C; */
    border-radius: 1rem;
}

.fitIcon {
    width: fit-content;
}

.icon-color {
    --lwc-colorTextIconDefault: white;
    cursor: pointer;
}

.slide-in-top {
    animation-name: slideInTop;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
  
@keyframes slideInTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}