/*@font-face {
    font-family: 'RalewayMedium';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap') format("TrueType");
}*/

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 20vw;
    margin-bottom: 20px;
    margin-top: -15vh;
}

.login-card {
    background: white;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 35vw;
    margin-top: -5vh;
    /*font-family: sans-serif;*/
}
.title {
    /*font-size: 36px;*/
    font-size: 2.25rem;
    color: #5D69B1;
    /*background: linear-gradient(to right, #fafafd, #7F4EC4);*/
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}
.gradient-line {
    width: 50px;
    height: 3px;
    background: linear-gradient(to right, #ff8a00, #e52e71);
    margin: 10px auto;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    /*font-weight: bold;*/
    color: white;
    background-color: #3dbedb;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all 0.3s ease;
    /*font-family: sans-serif;*/
    /* width: 47vh; */
}

.login-button .arrow {
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    width: 60px;
    height: 60px;
}

.loginButtonPadding {
    /* padding: 1vh 1vh 1vh 9vh; */
    /* padding: 1vh 1vh 1vh 4vh; */
}

.logo {
    /*height: 9vh;
    text-align: center;*/
    /*object-fit: contain;
    width: 100%;
    height: auto;
    display: block;*/
}

.input-container {
    text-align: left;
    font-size: 16px;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.custom-input {
    /* --slds-c-input-color-background: #f2f2f2;
    --slds-c-input-radius-border: 8px; */
    background: #f2f2f2;
    border-radius: 8px;
    min-height: 3rem !important;
    outline: #dbdedf solid 0.5px;
}